* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.categorie {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  position: relative;
}

.menuBlock {
  background-color: #35393b;
  min-height: 100vh;
  color: white;
  padding: 0 0 25px;
  width: 100%;
  position: absolute;
  left: -100%;
  transition: 1s;
  top: 56px;
  z-index: 90;
}

.menuBlock ul {
  list-style: none;
}
.mainList:first-child {
  border-top: 1px #464646 solid;
}

.menuBlock ul ul {
  margin-left: 15px;
}

.menuBlock ul ul li {
  border: none;
}

.mainList li {
  border-bottom: 1px #464646 solid;
  padding: 5px 15px 0 30px;
  cursor: pointer;
  justify-content: space-between;
}

.mainList li:hover {
  background-color: #464646;
  color: #ff5c29;
}

.subList {
  display: none;
}

.thirdList {
  display: none;
}

.subList li:hover .thirdList {
  display: block;
}

.subList li {
  color: white;
}

.mainList a:hover,
.langBox a:hover {
  color: #ff5c29;
}
.menuBlock li {
  cursor: pointer;
}

/* ------------------------- */

#china:checked ~ .subList,
#science:checked ~ .subList,
#aroundWorld:checked ~ .subList,
#culture:checked ~ .subList,
#archive:checked ~ .subList,
#world:checked ~ .subList,
#russia:checked ~ .subList,
#moscow:checked ~ .subList,
#opinion:checked ~ .subList,
#fashion:checked ~ .subList,
#sport:checked ~ .subList,
#video:checked ~ .subList,
#health:checked ~ .subList,
#aboutAll:checked ~ .subList {
  display: block;
}
#lang:checked ~ .langFlex {
  display: flex;
  justify-content: space-around;
}
.langFlex {
  padding: 20px 50px 0 0;
  display: none;
}
.borderList {
  border-right: 1px #464646 solid;
}
#idishka:checked ~ .menuBlock {
  left: 0;

}
.inline {
  display: inline-block;
  width: 20px;
  height: 25px;
  background-image: url(../images/menu.svg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 19px;
  left: 25px;
}

#idishka:checked ~ .inline {
  background-image: url(../images/close.svg);
  background-size: cover;
  background-position: center center;
  background-size: 20px;
  height: 20px;
}

#idishka,
#inspiration,
#china,
#culture,
#science,
#aroundWorld,
#archive,
#world,
#russia,
#moscow,
#opinion,
#fashion,
#sport,
#video,
#health,
#lang,
#aboutAll {
  display: none;
  width: 20%;
}
i {
  padding-bottom: 3px;
}
#china:checked ~ .imgLabel,
#inspiration:checked ~ .imgLabel,
#culture:checked ~ .imgLabel,
#science:checked ~ .imgLabel,
#aroundWorld:checked ~ .imgLabel,
#archive:checked ~ .imgLabel,
#world:checked ~ .imgLabel,
#russia:checked ~ .imgLabel,
#moscow:checked ~ .imgLabel,
#opinion:checked ~ .imgLabel,
#fashion:checked ~ .imgLabel,
#sport:checked ~ .imgLabel,
#video:checked ~ .imgLabel,
#health:checked ~ .imgLabel,
#aboutAll:checked ~ .imgLabel {
  transform: rotate(180deg);
}

.subList li li {
  padding: 5px 0;
}
.link {
  padding: 8px 0;
}
.secList li {
  padding: 5px 0;
}
.archiveList li {
  padding: 0;
}

.imgLabel {
  position: absolute;
  top: 5px;
  right: 30px;
}

.labelBox {
  position: relative;
  display: inline-block;
  width: 15%;
  z-index: 999;
}
.categorieLabel {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 20px;
}
.relLi {
  position: relative;
}
.mainList .categoryName {
  display: inline-block;
  width: 80%;
}
.thirdLabel {
  right: 15px;
}
.relLi .categoryName {
  padding-bottom: 10px;
}
header {
  height: 56px;
  background: linear-gradient(to right, #043369, #000f3a);
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.mainBlock {
  width: 100%;
}

.networkIcons {
  padding-top: 20px;
  width: 90px;
}
.networkIcons i {
  color: #d6d4d3;
  padding: 0 3px;
}

.search {
  width: 100%;
  position: relative;
}

.search input {
  background-color: #464646;
  margin: auto;
  font-size: 17px;
  width: 100%;
  height: 45px;
  padding-left: 45px;
  border: none;
  color: white;
}

.search button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 45px;
  cursor: pointer;
  color: #d6d4d3;
}

.name {
  font-size: 25px;
  position: absolute;
  z-index: 99;
  color: #ffffff;
  opacity: 0;
  transition: 2s;
  left: 20%;
  top: 7.5%;
  font-family: 'Times New Roman', Times, serif
}

#idishka:checked ~ .name {
  opacity: 1;
}
.mainList {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 350px) {
  .name {
    left: 25%;
  }
}
@media (min-width: 450px) {
  .name {
    left: 35%;
  }
}
.main {
  width: 100%;
}
.et {
  height: 90px;
  border-bottom: 1px solid #dad9df;
  margin: auto;
  font-size: 35px;
  font-stretch: ultra-condensed;
  font-family: 'Times New Roman', Times, serif

}
.et p {
  padding: 30px 5px 0;
  margin: auto;
  width: 238px;
  position: relative;
}

.et p:before,
.et p:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1px;
  top: 48px;
  width: 20px;
}
.et p:before {
  left: -28px;
}
.et p:after {
  left: 245px;
}
.menuNav ul,
.mainNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
.menuNav ul {
  background-color: #252a2c;
}
.mainNav ul {
  padding: 7px 0;
}
.menuNav ul li {
  padding: 15px 10px;
  font-size: 15px;
}
.mainNav ul li {
  padding: 5px 12px;
}
.menuNav a:hover,
.mainNav a:hover {
  color: #ff5c29;
}
.mainList a,
.langBox a,
.menuNav a,
.mainNav a {
  text-decoration: none;
}
.mainList a,
.langBox a,
.menuNav a {
  color: white;
}
.mainNav a{
  color: black;
}
.mainNav {
  border-bottom: 3px solid black;
  font-size: 13px;
  font-weight: 500
}
